/* 모바일 기준 */
*{margin: 0; padding: 0; box-sizing: border-box;}



#container{
    width: 100%;
    margin: 0 auto;
    background: url("../pybo/IMG_04.jpg") no-repeat left top ;
    background-size: cover;
}

/* header style */

header{
    width: 100%;
    height: 250px;
    background: url("../images/bg0.jpg")no-repeat;
    background-size: cover;
}
nav{
    width: 100%;
    height: 60px;
    background : #0388f5;
    line-height: 60px;
}
#logo{
    float:left; padding-left: 20px;
}

#logo a{
    text-decoration:none;
}

#logo a:hover{
    color:yellow;
}


#main-nav{
    padding-right:10%;
    float:right;
    list-style: none;
    text-align: right;
}
#main-nav li{
    display: inline;
    margin: 0 15px;
}
#main-nav li a:link, a:visited{
    text-decoration: none;
    color: greenyellow;
}
#main-nav li a:hover{
    color: yellow;
}

/* 본문 */

section{
    width: 100%;
    padding: 10px 5%;
}


section .page-title{
    padding: 15px;
}

section .content .photo{
    display: none;
}
section .content .text p{
    line-height: 2em;
    padding-left: 30px;
}

section .content #career li{
    margin-left: 50px;
    line-height: 2em;
}

section .content #link{
    padding-left: 30px;

}

section .content #link li{
    
    margin: 15px;
}

section .content #link li a{
    text-decoration: none;
    color: black;
}


/* footer 부분 */

footer{
    height: 60px;
    border-top: 2px solid #aaa;
}

footer #bottomMenu{
    margin-top: 20px;
    text-align: center;

}
footer #bottomMenu ul{
   # list-style: none;
}
footer #bottomMenu ul li{
    display: inline;
    padding: 0 20px;
    border-right: 1px solid #ccc ;
    
}
footer #bottomMenu ul li:last-child{
    border: none;
    
}
footer #bottomMenu ul li a{
    color: #222;
    text-decoration: none;
}




/* 태블릿 기준 */

@media screen and (min-width:768px){
    header{
        height: 300px;
    }
    #who, #job{
        float:left;
        width: 50%;
        height: 350px;
    }
    #skill{clear: both;}

    
}

/* PC기준 -996px이상*/

@media screen and (min-width:1024px){
    #container{
        width: 996px;
        margin: 0 auto;
        border: 1px solid skyblue;
    }
    header{
        height: 320px;
    }
    #who, #job, #skill{
        width: 100%;
        height: 300px;
    }
    #who .photo{
        float: left;
        display: block;
        margin: 10px 20px;
    }
    #skill .photo{
        float: right;
        display: block;
        margin-right: 15%;
    }
}